@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");
@import url('https://fonts.googleapis.com/css2?family=Delius&family=Kaushan+Script&family=Lobster+Two:wght@700&family=Nixie+One&family=Rammetto+One&family=Trispace:wght@300&display=swap');

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100vw;
    height: 100vh;
    margin: 0;
}

:root {
    --color1: #572d1e;
    --color2: #dccab0;
}


.page1 {
    background-color: #5f2a7e;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(image/b2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.login_layout {
    width: 35%;
    height: 75%;
    display: flex;
    justify-content: center;
    border: 3px solid var(--color1);
    background-color: var(--color2);
    border-radius: 2px;
}



.login_logo {

    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-color: inherit;
    width: 10vw;
    height: 10vw;
    border-radius: 50%;
    margin: auto;
    margin-top: 10%;

}

.login_logo .bi {
    font-size: 6rem;
    color: var(--color1);
}

.login_figcaption {
    display: flex;
    justify-content: center;
    margin: 5% 5%;
    font-size: 4rem;
    font-family: 'Trispace', sans-serif;
    /* text-shadow: 2px 5px 6px #000000; */
    color: var(--color1);

}

.login_form {
    width: 100%;
}

label.login_user,
label.login_password {
    padding-bottom: 1.5%;
    font-family: 'Trispace', sans-serif;
    text-align: center;
    font-size: 1.3rem;
    letter-spacing: 0.2rem;
    color: var(--color1);
}

input.login_user,
input.login_password {
    padding: 10px;
    width: 100%;

    margin: 0%;
    border: 0px solid;
    border-radius: 12px;
    background-color: rgba(255, 255, 255, 0.2);
    position: relative;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1rem;
}

.my_container {
    display: flex;
    align-items: center;
    width: 100%;

}

.my_container input {
    text-align: center;
}

#bi-person-circle,
#bi-fingerprint {
    font-size: 70%;
    position: absolute;
    padding: 10px;
    color: var(--color1);
}


.user_password_container {
    width: 100%;
    padding: 2%;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: row;
    font-size: x-large;
}

.user_container,
.password_container {
    margin: 1%;
    flex-grow: 1;

}

.login_button {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 7%;
    width: 100%;
    /* top: 130px; */
}

.login_button button {
    color: var(--color1);
    padding: 2% 3%;
    /* width: 100px;
    height: 50px; */
    background-color: transparent;
    border: 1px solid;
    border-radius: 0px;
    font-family: 'Trispace', sans-serif;
    font-size: 0.7vw;
    font-weight: 700;
    transition: 0.6s;
}

.login_button button:hover {
    background-color: var(--color1);
    color: var(--color2);
    /* width: 120px;
    height: 55px;
    box-shadow: 3px 8px 9px rgb(211, 144, 102);
    font-size: 21px; */
}

.login_footer {
    margin-top: 5%;
    display: flex;
    justify-content: center;

    /* top: 150px; */
}

.login_footer ul {

    display: grid;

    align-items: center;
    width: 100%;
}

.login_footer ul li {
    list-style-type: none;
    margin: 2%;
    text-align: center;


}

.login_footer ul li a {
    color: var(--color1);
    font-family: 'Rammetto One', cursive;
    text-decoration: none;
    transition: all 0.6s;
}

.login_footer ul li a:hover {
    color: gainsboro;
    font-size: medium;
    text-shadow: 1px 1px 9px var(--color1);
}

@media screen and (max-width:1300px) {
    .login_layout {
        width: 60%;
        height: 75%;
        transition: all 1s;
    }

    .login_logo {
        width: 15vw;
        height: 15vw;
    }

    .login_logo .bi {
        font-size: 10vw;
        color: var(--color1);
    }

    .login_figcaption {
        font-size: 5vw;
        transition: all 1s;
    }

    label.login_user,
    label.login_password {
        font-size: 2vw;
    }

    .login_footer ul li a {
        font-size: 1.7vw;
    }

}

@media screen and (max-height:1100px) {

    .login_layout {
        width: 35%;
        height: 75%;
        transition: all 1s;
    }

    .login_logo {
        width: 15vh;
        height: 15vh;
        margin: 2% auto;
        transition: all 1s;
    }

    .login_logo .bi {
        font-size: 10vh;
        color: var(--color1);
        transition: all 1s;
    }

    .login_figcaption {
        font-size: 5vh;
        margin: auto;
        transition: all 1s;
    }

    label.login_user,
    label.login_password {
        font-size: 2vh;
    }

    .login_footer ul li a {
        font-size: 1.7vh;
    }

    .user_container,
    .password_container {
        width: 10vh;
    }

    .login_button button,
    .login_button {
        margin: 1% auto;
        font-size: 1vh;
    }

    .login_footer {
        margin: 3% auto;
    }
}

@media screen and (max-width:450px) {

    .login_layout {
        width: 95%;
        height: 75%;
    }

    .login_logo {
        width: 25vw;
        height: 25vw;
    }

    .login_logo .bi {
        font-size: 15vw;
        color: var(--color1);
    }

    .login_figcaption {
        font-size: 10vw;
    }

    .login_figcaption {
        font-size: 10vw;
    }

    label.login_user,
    label.login_password {
        font-size: 4vw;
    }

    .user_container,
    .password_container {
        width: 10vw;
    }

    .login_footer ul li a {
        font-size: 4vw;
    }


}












/*this is for reg page !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
/*this is for reg page !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
/*this is for reg page !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
/*this is for reg page !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
/*this is for reg page !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
/*this is for reg page !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
/*this is for reg page !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
/*this is for reg page !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
/*this is for reg page !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
/*this is for reg page !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
/*this is for reg page !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/





.page2 {
    background-color: #5f2a7e;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-image: url(image/michael-fousert-lE5-z4nTCTQ-unsplash.jpg); */
    background-repeat: no-repeat;
    /* background-position: center; */
    background-size: cover;
}

.signup_layout {
    width: 35vw;
    height: 75vh;
    display: flex;
    justify-content: center;
    border: 0px solid rgb(95, 55, 55);
    background-color: var(--color2);
    border-radius: 1px;
}